*.class
*.log

# User-specific data
config.json

# sbt specific
.cache/
.history/
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/target/
project/project/target
project/plugins/project/
src/test/

# Target
target/scala-2.13/
target/streams/
target/universal/